<div class="camera_wrap camera_orange_skin" id="camera_wrap">
	<div data-src="assets/images/slider_pic1.jpg" data-link="#">
	</div>
	<div data-src="assets/images/slider_pic2.jpg" data-link="#">
  </div>
	<div data-src="assets/images/slider_pic3.jpg" data-link="#">
	</div>
</div>
